<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlashHack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlashHack.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/e98be4c5d4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/Logo/FlashHackLogo2.PNG" alt="FlashHack Logo" style="height: 80px;" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                @if (Context.Session.GetString("IsAdmin") == "True")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-danger" asp-controller="Users" asp-action="Index">Manage Users</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="HeadCategories" asp-action="Index">Head Categories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="SubCategories" asp-action="Index">Sub Categories</a>
                                    </li>
                                }
                                
                                @if (Context.Session.GetString("UserEmail") != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Users" asp-action="Profile" asp-route-id="@Context.Session.GetInt32("UserId")">My Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Users" asp-action="UpdateProfile">Edit Profile</a>
                                    </li>
                                }
                            </ul>
                            <ul class="navbar-nav">
                                @if (Context.Session.GetString("UserEmail") != null)
                                {
                                    <li class="nav-item">
                                        <span class="nav-link">Välkommen, @Context.Session.GetString("UserName")!</span>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Users" asp-action="Logout">Log out</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Users" asp-action="Login">Log in</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Users" asp-action="Register">Register</a>
                                    </li>

                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    @await Component.InvokeAsync("NavBar", new { currentSubCategoryId = ViewData["CurrentSubCategoryId"] })
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Posts" asp-action="Index">All Posts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Posts" asp-action="Index" asp-route-sortOrder="newest">New Discussions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Posts" asp-action="Index" asp-route-sortOrder="mostCommented">Popular Discussions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Posts" asp-action="Index" asp-route-sortOrder="mostLiked">Most Liked Discussions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="" asp-action="">Companies Hiring</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Posts" asp-action="Favorites">Favorites</a>
                                    </li>
                                </ul>
                                <form class="d-flex ms-auto" asp-controller="Posts" asp-action="Index">
                                    <input class="form-control me-2 search-input" type="search" name="searchTerm" placeholder="Search" aria-label="Search">
                                    <button class="search-button" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FlashHack - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
