@model FlashHack.ViewModels.NavBarViewModel

@foreach (var headCategory in Model.HeadCategories)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @headCategory.Name
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var subCategory in headCategory.SubCategories)
            {
                <li><a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-subCategoryId="@subCategory.Id">@subCategory.Name</a></li>
            }
        </ul>
    </li>
}